$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


/* Theme Settings */
$MAIN_THEME_COLOR: black;
$DRIBBBLE_ICON_SIZE: 30px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    color: black;
}
h1, h2, h3, h4 h5, h6 {
    font-family: 'Roboto', Helvetica, Verdana, sans-serif;
}

a {
  color: $MAIN_THEME_COLOR;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    left: 0;
    text-align: center;
}

.dribbble-icon {
  display: inline-block;
  border-radius: $DRIBBBLE_ICON_SIZE;
  width: $DRIBBBLE_ICON_SIZE;
  height: $DRIBBBLE_ICON_SIZE;
  background-position: center center;
  background-size: $DRIBBBLE_ICON_SIZE $DRIBBBLE_ICON_SIZE;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF
0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIF
ZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQ
y8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9E
VEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR
0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy
8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9Ijk2Ljk1NHB4IiBoZWlnaHQ9I
jk2Ljk1NHB4IiB2aWV3Qm94PSIwIDAgOTYuOTU0IDk2Ljk1NCIgc3R5bGU9ImVuYWJsZS1iYWNr
Z3JvdW5kOm5ldyAwIDAgOTYuOTU0IDk2Ljk1NDsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0
KPGc+DQoJPHBhdGggZD0iTTQ4LjQ3NywwLjA2NUMyMS43NDcsMC4wNjYsMC4wMDEsMjEuNzgyLD
AsNDguNDc3YzAuMDAxLDI2LjY5NSwyMS43NDcsNDguNDEyLDQ4LjQ3Nyw0OC40MTJzNDguNDc2L
TIxLjcxNyw0OC40NzctNDguNDEyDQoJCUM5Ni45NTMsMjEuNzgyLDc1LjIwNywwLjA2Niw0OC40
NzcsMC4wNjV6IE04MC4zNzIsMjIuOTE3YzUuNTI4LDYuODUxLDguODkyLDE1LjUwOCw5LjA0OCw
yNC45MzQNCgkJYy0xLjg0LTAuMzcyLTkuNjM0LTEuODMtMTguOTQ3LTEuODNjLTMuMDA0LDAtNi
4xNjYsMC4xNTMtOS4zMzYsMC41NDJjLTAuMjY3LTAuNjQ4LTAuNTM3LTEuMy0wLjgxNi0xLjk1N
A0KCQljLTAuODI0LTEuOTM0LTEuNzA3LTMuODUyLTIuNjI3LTUuNzM5QzcyLjAyMywzMi45NjUs
NzguOTQxLDI0Ljc3LDgwLjM3MiwyMi45MTd6IE00OC40NzcsNy42NDENCgkJYzEwLjMyOCwwLDE
5Ljc3LDMuODM5LDI2Ljk4MiwxMC4xNjFjLTEuMTQzLDEuNTU5LTcuMzMzLDkuMjk0LTIxLjE1Mi
wxNC41MkM0Ny45MTIsMjAuNjI1LDQwLjkwNywxMC45NDYsMzkuMjQxLDguNjk3DQoJCUM0Mi4yM
TEsOC4wMDgsNDUuMzAxLDcuNjQxLDQ4LjQ3Nyw3LjY0MXogTTMwLjg4NSwxMS42MTVjMS40MTIs
MS45NDIsOC40MjIsMTEuNzI1LDE0Ljk4MiwyMy4zMjkNCgkJYy0xNy42MDYsNC42MjYtMzMuMjQ
yLDQuOTMtMzcuMDE0LDQuOTNjLTAuMTU0LDAtMC4yODcsMC0wLjQsMEMxMS4xNjIsMjcuMzc5LD
E5LjYwNiwxNi45OTYsMzAuODg1LDExLjYxNXogTTcuNTIyLDQ4LjU0DQoJCWMwLTAuMzM2LDAuM
DA4LTAuNjczLDAuMDE4LTEuMDFjMC4yNDUsMC4wMDQsMC42MDQsMC4wMDgsMS4wNzQsMC4wMDhj
NS4wOCwwLDIyLjcyMi0wLjQyMyw0MC45MDEtNS44MTkNCgkJYzEuMTAzLDIuMTYsMi4xNTUsNC4
zNSwzLjEyOSw2LjUzOGMtMC40NTUsMC4xMzItMC45MSwwLjI2Ni0xLjM2LDAuNDExQzMwLjgxNy
w1NS4yOCwxOS41NjMsNzIuNzgsMTcuODMzLDc1LjYzOQ0KCQlDMTEuNDIxLDY4LjQxNSw3LjUyM
iw1OC45MjYsNy41MjIsNDguNTR6IE00OC40NzcsODkuNDRjLTkuMzk3LDAtMTguMDYtMy4xODIt
MjQuOTc5LTguNTE1DQoJCWMxLjE2OS0yLjI5NCw5LjY1OS0xNy41ODQsMzIuMDkyLTI1LjM5MmM
wLjAxNi0wLjAwNSwwLjAzMi0wLjAxMSwwLjA0Ny0wLjAxN2M1LjYyMSwxNC42NDYsOC4wMDQsMj
YuOTM3LDguNjYxLDMwLjc0NA0KCQlDNTkuNDI4LDg4LjMwNyw1NC4wODIsODkuNDQsNDguNDc3L
Dg5LjQ0eiBNNzEuNjcxLDgyLjIyOWMtMC41NDktMy4xNS0yLjc1NS0xNC42Ny03Ljg1LTI4Ljcx
OQ0KCQljMi44NTgtMC40NDIsNS42MzktMC42MTcsOC4yNDUtMC42MTdjOC41NTktMC4wMDEsMTU
uMjU1LDEuODczLDE2LjgxMSwyLjM0NkM4Ny4wMjcsNjYuNCw4MC42MzksNzYuMDUxLDcxLjY3MS
w4Mi4yMjl6Ii8+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NC
jwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8
L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9
nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==")
}

/* Make the masthead heading the same height as the navigation */

/* Custom page footer */
.footer {
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        & h3 {
            font-size: 1.7em !important;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Color collection custom styles */

.header {
    position: fixed;
    top: -60px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.97) !important;
    z-index: 1000;
    border-bottom: 1px solid #fff;
    transition: top 0.15s ease-in;
    &.show {
      top: 0;
    }
}

.current-color {
    font-size: 1.5em;
    line-height: 0;
    font-weight: 800;
    &.informer {
      font-size: 1em;
    }
}

.footer {
    border: none;
}

.colors {
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-item {
    content: " ";
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 2px;

    &.active {
        border: 5px solid rgba(255, 255, 255, 0.08);
    }
}

.paper{
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  &.active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}
